
/*Techdegree| Project 6
=====================================================================================
by Humberto Ventura
=====================================================================================
*/




/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    line-height: 1.65;
    color: #645f5f;
	overflow-x:hidden;
}


p {
	font-size: .9em;
	margin-bottom: 1.8em;
    margin: .65em 1.5em;
}

video {
    width: 100%;
}



/* ================================= 
  Video
==================================== */

#video-wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.c-instruments {
    position: absolute;
    left: 0;
	right:0;
    margin-top: 10px;
    padding: 10px 15px 0;
    background:transparent;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

#video-wrapper:hover .c-instruments { 
    opacity: 1;
    -webkit-transform: translate(0,-65px);
    -o-transform: translate(0,-65px); 
    -moz-transform: translate(0,-65px);
    -ms-transform: translate(0,-65px);
        transform: translate(0,-65px);
} 



/* ================================= 
  Progress Bars*
==================================== */

    
    progress[value] { 
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 3px;
        border: none;
        background-color: #fdd300;
    }
    
    #progressing,
    #buffering {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 97%;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
	}
    
    #progressing {
        z-index: 10;
    }

    #video-wrapper:hover #progressing,
    #video-wrapper:hover #buffering {
        -webkit-transform: translate(0,-35px);
        -o-transform: translate(0,-35px); 
        -moz-transform: translate(0,-35px);
        -ms-transform: translate(0,-35px);
            transform: translate(0,-35px);
    }
	
	
/* ================================= 
  Progress Bars coloring*
==================================== */

    #progressing::-webkit-progress-bar,
    #buffering::-webkit-progress-bar {
        background-color: #fdd300;
    }
    
    #progressing::-webkit-progress-value {
        background-color: #92251d;
    }
    
    #buffering::-webkit-progress-value {
        background-color: #92251d;
    }
    
    #buffering::-moz-progress-bar {
        background-color: #92251d;
        height: 3px;
    }
    
    #progressing::-moz-progress-bar {
        background-color:#92251d;
        height: 3px;
    }
	
	
	
/* ================================= 
  Buttons
==================================== */


    button {
        background: transparent;
        border: none;
    }
	
    #play,
    #current-time,
    #space,
    #duration,
    #rewind {
        float: left;
		margin-bottom:10px;
    }

    #current-time,
    #move,
    #duration {
        color: #fdd300;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
        line-height: 2;
    }

    #current-time {
        padding-left: 15px;
    }
    
    #space {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #duration {
        padding-right: 10px;
    }
    
    #rewind {
        line-height: 2;
    }
    
    #mute,
    #caption {
        float: right;
        padding-right: 15px;
    }
    
    #fullscreen {
        float: right;
    }
    
    #volume,
    #volume-up,
    #volume-down {
        float: right;
        font-weight: bold;
        color: #fdd300;
    }
    
    #volume-up,
    #volume-down {
        font-size: 1.5em;
        line-height: 1;
        padding-right: 10px;
    }
    
    #volume {
        line-height: 2.1;
        font-size: 0.9em;
    }
    
    #volume-up {
        padding-left: 10px;
    }
    
    p { 
        font-family: 'Roboto', sans-serif;
        font-size: .6em;
        line-height: 1.2;
    }
	
	
    
    /*Color for text movement */
    .active-text { 
        color: #ffad33;
        transition: all .6s ease-in-out;
    }
    
    .inactive-text {
        color: #000000;
        transition: all .6s ease-in-out;
    }
    
    #textmove span {
        cursor: pointer;
    }


#textmove span:hover {
       color: #ffad33;
    }
	
	
	
	
	
@media screen and (min-width: 769px) {
   
     .wrapper {
        width: 90%;
        margin: 0 auto;
    }
    

    #textmovement { 
        display: none;
    }
	
	    p {
        font-size: .85em;
        margin: 0 auto;
    }
    
  
}


@media screen and (min-width: 1025px) { 
    p {
        font-size: 1em;
        margin: 0 auto;
    }
    
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
    

   
	   p {
        font-size: 1.3em;
    }
}



	/*althow this is responsive first, the video controls need to adapt smaller screen sizes*/
	
	@media screen and (max-width: 450px){ 
   
    .wrapper  {
        width: 100%;
        margin: 0 auto;
    }
    
    #rewind,
    #fullscreen,
    #volume {
        display: none;
    }
    
    #play img,
    #mute img,
    #caption img {
        width: 75%;
        height: 75%;
    }
    
    #current-time,
    #duration,
    #volume {
        font-size: .8em;
    }
      
    #volume-up,
    #volume-down {
        line-height: 0.8;
    }
        
    .c-instruments {
        margin-top: 5px;
        padding: 2px 2px 0;
    }
    
    #video-wrapper:hover .c-instruments{
        opacity: 1;
        -webkit-transform: translate(0,-45px);
        -o-transform: translate(0,-45px); 
        -moz-transform: translate(0,-45px);
        -ms-transform: translate(0,-45px);
             transform: translate(0,-45px);
            
    }
    
	/*movement for buffer*/
    #video-wrapper:hover #progressing, 
    #video-wrapper:hover #buffering {
        -webkit-transform: translate(0,-25px);
        -o-transform: translate(0,-25px); 
        -moz-transform: translate(0,-25px);
        -ms-transform: translate(0,-25px);
                transform: translate(0,-25px);
    }
    
    p { 
        font-size: 1em;
    }

}


